.settings {
    background-color: #282c34;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid mediumturquoise;
    margin: 20px;
}

p {
    color: mediumturquoise;
    text-align: center;
}

.settings input {
    width: 50px;
    margin: 0px 0px 0px 70px;
}

.settings button {
    margin: 10px 0px 0px 83px;
}

.counter {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid mediumturquoise;
    margin: 20px;
    text-align: center;
}

.monitor {
    background-color: mediumturquoise;
    border-radius: 5px;
    width: 180px;
    height: 100px;
    margin: 10px 10px 10px 10px;
}

.buttons {
    border: 1px solid mediumturquoise;
    border-radius: 5px;
    margin: 20px 10px 10px 10px;
    padding: 10px;
}