.settings {
    background-color: #282c34;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid mediumturquoise;
    margin: 20px;
}

p {
    color: mediumturquoise;
    text-align: center;
}

.settings input {
    width: 50px;
    margin: 0px 0px 0px 70px;
}

.settings button {
    margin: 10px 0px 0px 83px;
}

.counter {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid mediumturquoise;
    margin: 20px;
    text-align: center;
}

.monitor {
    background-color: mediumturquoise;
    border-radius: 5px;
    width: 180px;
    height: 100px;
    margin: 10px 10px 10px 10px;
}

.buttons {
    border: 1px solid mediumturquoise;
    border-radius: 5px;
    margin: 20px 10px 10px 10px;
    padding: 10px;
}


.maxValue {
    color: red;
}

.on {
    background-color: aqua;
}

.off {
    background-color: darkgray;
}





.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
