body {
  background-color: #282c34;
}

.counter {
  background-color: mediumturquoise;
  width: 130px;
  height: 60px;
  border-radius: 3px;
  margin: 5px;
}

.maxValue {
  color: red;
}

.on {
  background-color: aqua;
}

.off {
  background-color: darkgray;
}